USE [master]
GO
/****** Object:  Database [CoffeeManagement]    Script Date: 10/18/2017 10:57:52 ******/
CREATE DATABASE [CoffeeManagement] ON  PRIMARY 
( NAME = N'CoffeeManagement', FILENAME = N'E:\MSSQL\Data\CoffeeManagement.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CoffeeManagement_log', FILENAME = N'E:\MSSQL\Data\CoffeeManagement.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoffeeManagement]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 10/18/2017 10:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[birthday] [date] NULL,
	[address] [nvarchar](150) NULL,
	[joinDate] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[role] [int] NULL,
	[isActive] [bit] NULL,
	[lastModified] [datetime] NULL,
 CONSTRAINT [PK__Staff__3214EC070CBAE877] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Staff] ON
INSERT [dbo].[Staff] ([id], [name], [birthday], [address], [joinDate], [gender], [phone], [email], [role], [isActive], [lastModified]) VALUES (1, N'Nguyễn Việt Hùng', NULL, NULL, CAST(0x6A3D0B00 AS Date), N'Male', NULL, NULL, 1, 1, NULL)
INSERT [dbo].[Staff] ([id], [name], [birthday], [address], [joinDate], [gender], [phone], [email], [role], [isActive], [lastModified]) VALUES (2, N'Võ Gia Vũ', NULL, NULL, CAST(0x6A3D0B00 AS Date), N'Male', NULL, NULL, 2, 1, NULL)
INSERT [dbo].[Staff] ([id], [name], [birthday], [address], [joinDate], [gender], [phone], [email], [role], [isActive], [lastModified]) VALUES (3, N'Trần Trọng Hiếu', NULL, NULL, CAST(0x6A3D0B00 AS Date), N'Male', NULL, NULL, 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 10/18/2017 10:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[isActive] [bit] NULL,
	[lastModified] [datetime] NULL,
 CONSTRAINT [PK__Category__3214EC077F60ED59] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([id], [name], [description], [isActive], [lastModified]) VALUES (1, N'Espresso & Coffee', N'Từng ly cà phê được làm ra bởi niềm đam mê với hương vị, sự chăm chút cho hạnh phúc của khách hàng, niềm hào hứng được phục vụ và sự tỉ mỉ để đạt tới chất lượng cà phê tuyệ vời nhất.', 1, NULL)
INSERT [dbo].[Category] ([id], [name], [description], [isActive], [lastModified]) VALUES (2, N'Special Tea', N'Bất cứ thời điểm nào cũng là thời gian để uống một ly trà. Bạn chọn ly trà nào cho hôm nay?', 1, NULL)
INSERT [dbo].[Category] ([id], [name], [description], [isActive], [lastModified]) VALUES (3, N'Chocolate', N'Không có khoảng thời gian nào quý giá như khi ở bên cạnh bạn bè, trừ khi bạn có một ly chocolate. và niềm hạnh phúc của chúng tôi là phục vụ bạn những khoảng thời gian quý giá như thế.', 1, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 10/18/2017 10:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](150) NULL,
	[staffID] [int] NULL,
	[takenDate] [date] NULL,
	[takenTime] [time](7) NULL,
	[tableNumber] [int] NULL,
	[totalPrice] [float] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Order__3214EC07577479B0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/18/2017 10:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[description] [nvarchar](250) NULL,
	[price] [float] NULL,
	[categoryID] [int] NULL,
	[isActive] [bit] NULL,
	[lastModified] [datetime] NULL,
 CONSTRAINT [PK__Product__3214EC0708EA5793] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([id], [name], [description], [price], [categoryID], [isActive], [lastModified]) VALUES (1, N'CAPPUCCINO', N'Espresso, sữa tươi, bọt sữa', 45000, 1, 1, NULL)
INSERT [dbo].[Product] ([id], [name], [description], [price], [categoryID], [isActive], [lastModified]) VALUES (2, N'CARAMEL MACCHIATO', N'Espresso, sữa tươi, caramel', 55000, 1, 1, NULL)
INSERT [dbo].[Product] ([id], [name], [description], [price], [categoryID], [isActive], [lastModified]) VALUES (3, N'MOCHA', N'Espresso, sôcôla, sữa tươi, bọt sữa', 49000, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/18/2017 10:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderID] [int] NOT NULL,
	[no] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
 CONSTRAINT [PK__OrderDet__D0B166A70519C6AF] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Order_Staff]    Script Date: 10/18/2017 10:57:53 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Staff] FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Staff]
GO
/****** Object:  ForeignKey [FK_Product_Category]    Script Date: 10/18/2017 10:57:53 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
/****** Object:  ForeignKey [FK_OrderDetails_Order]    Script Date: 10/18/2017 10:57:53 ******/
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
/****** Object:  ForeignKey [FK_OrderDetails_Product]    Script Date: 10/18/2017 10:57:53 ******/
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
